@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

:root {
    --bg: #121212;
    --bg-text: #ffffff14;
    --bg-circle: #f1b53947;
    --white: #fff;
    --text-gradient-start: #edc580;
    --text-gradient-end: #fdf9f3;
    --border: #f2d5a5;
    --btn-gradient: #ddc69a;
    --second-font: 'Noto Sans', sans-serif
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}


/* container ------------------ */
.container {
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1350px;
    }
}

/* container ------------------ */

.bg-blur {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    background: #ff880047;
    filter: blur(70px);
}

.bg-text {
    font-family: var(--second-font);
    font-weight: 800;
    font-size: 150px;
    letter-spacing: -0.06em;
    color: var(--bg-text);
    position: absolute;
}


.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.social-media a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.social-media a:hover {
    box-shadow: 0 0 10px 0 #006affa7;
}

.social-media a img {
    height: 15px;
}

/* Custom color for pagination bullets */
.swiper {
    padding-bottom: 50px !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--text-gradient-start) !important;
}

.swiper-pagination-bullet:hover {
    background-color: #ff6600;
}